<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-select [(ngModel)]="reserva.user_id" name="aluno" label="Aluno" label-placement="floating" fill="outline">
      <ion-select-option *ngFor="let aluno of alunos" [value]="aluno.user_id">{{aluno.nome_user}}</ion-select-option>
      </ion-select>
    <ion-select [(ngModel)]="reserva.book_id" name="livro" label="Livro" label-placement="floating" fill="outline">
      <ion-select-option *ngFor="let livro of livros" [value]="livro.book_id">{{livro.nome_livro}}</ion-select-option>
    </ion-select>
    <ion-button (click)="cadastrarReserva()">Cadastrar</ion-button>
  </form>
</ion-content>


