<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{data.nome_user}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="itemInfo" fill="solid">
    <ion-label>Nome: </ion-label>
    <ion-label>{{data.nome_user}}</ion-label>
  </ion-item>
  <ion-item class="itemInfo" fill="solid">
    <ion-label>Livro: </ion-label>
    <ion-label>{{dataReserva.nome_livro}}</ion-label>
  </ion-item>
  <ion-item class="itemInfo" fill="solid">
    <ion-label>Retirada: </ion-label>
    <ion-label>{{dataReserva.createdat}}</ion-label>
  </ion-item>
  <ion-item class="itemInfo" fill="solid">
    <ion-label>Limite Entrega: </ion-label>
    <ion-label>{{dataReserva.limitdate}}</ion-label>
  </ion-item>
  <ion-button id="editar" (click)="confirmarAtualizacao()">Atualizar reserva</ion-button>
</ion-content>
