<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro livros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="livrosForm" novalidate>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input formControlName="nome" [(ngModel)]="livros.nome_livro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Autor(a):</ion-label>
      <ion-input type="email" formControlName="autor" [(ngModel)]="livros.author"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tema:</ion-label>
      <ion-input formControlName="tema" [(ngModel)]="livros.assunto"></ion-input>
    </ion-item>
    <ion-button (click)="cadastrarLivro()">Cadastrar</ion-button>
  </form>
</ion-content>
