#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #000000;
}
.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.mat-mdc-form-field {
  margin-top: 15px;
  font-size: 14px;
  width: 100%;
  height: 50px;
}
ion-menu-button {
  color: var(--ion-color-primary);
}

